<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Social Surveyor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/app/assets/css/master.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    
    <script src="/app/app.module.js"></script>
    <script src="/app/app.routes.js"></script>
    <script src="/app/shared/auth/authFactory.js"></script>
    <script src="/app/shared/polls/pollsFactory.js"></script>
    <script src="/app/shared/navbar/navController.js"></script>
    <script src="/app/shared/auth/authController.js"></script>
    <script src="/app/components/home/homeController.js"></script>
    <script src="/app/components/polls/pollsController.js"></script>
    <script src="/app/components/poll/pollController.js"></script>
  </head>

  <body >
    <div class="container-fluid">

      <nav class="navbar navbar-right"  ng-controller="NavCtrl">
        <ul class="nav navbar-nav">
          <li ng-show="isLoggedIn()"><a><span class="glyphicon glyphicon-user"></span> {{ currentUser() }}</a></li>
          <li ng-show="isLoggedIn()"><a href="/#/home"><span class="glyphicon glyphicon-plus-sign"></span> Add Poll</a></li>
          <li ng-show="isLoggedIn()"><a href="/#/polls"><span class="glyphicon glyphicon-th-list"></span> View Polls</a></li>
          <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()"><span class="glyphicon glyphicon-tree-conifer"></span> Log Out</a></li>
          <li ng-hide="isLoggedIn()"><a href="/#/login"><span class="glyphicon glyphicon-user"></span> Log In</a></li>
          <li ng-hide="isLoggedIn()"><a href="/#/register"><span class="glyphicon glyphicon-cog"></span> Register</a></li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="page-header">
            <h1><span class="glyphicon glyphicon-stats"></span> Social Surveyor</h1>
          </div>
          <ui-view></ui-view>
        </div>
      </div>
  
    </div>
  </body>
</html>
