.socialBtns {
  margin-top: 20px;
}

.socialBtns div{
  text-align: center;
}

#chart_div{
  width: 100%;
  height: 500px;
}

@media only screen and (max-width : 768px) {

.nav li {
  text-align: center;
  font-size: 16pt;
}

}